  :root{
    --background-color: #2f303a;
    --logo-color: #2196f3;
    --chapter-color: #212121;
    --description-color: #757575;
    --light-color: #fff;
    --btn-order-hov-color: #188ce8;
    --btn-order-shad-color: rgba(0, 0, 0, 0.15);
    --team-color: #f5f4fa;
    --con-foot-color: rgba(255, 255, 255, 0.6);
    --social-icon: #AFB1B8;
    --project-border: #eeeeee;
  }
  
$mobile: 480px;
$tablet: 768px;
$desktop: 1200px;